* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Open Sans' sans-serif;
}
 
body {
  height: 100vh;
  background: url(img.jpg);
  background-size: cover;
  background-position: center;
   width:auto;
   background-attachment:fixed;
   background-repeat:no-repeat;
}



.shop a{
  text-decoration: none;
  color:white;
  font-size: 1rem; 
   text-align:center;
   justify-content:center;
   display:flex;
}

.shop:hover {
 background-color:orange;
}

.header {
background-color:black;
   padding:14px;
  text-align:center;


}

.nav a{
  float:left;
  display: flex;
  align-items: center;
  justify-content: ;
flex-wrap:wrap;
   flex-basis:auto;

}
.nav a{
 background-color: black;
padding:7px;

   
}



